.search-form {
  position: fixed;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  padding: 20px;
  background-color: rgb(42, 13, 207);
  text-align: center;

  z-index: 2;

  
}

.search-form input {
  padding: 5px;
  border-radius: 5px;

  &:hover,
  &:focus {
    border-color: rgb(42, 13, 207);
  }
}

button {
  padding: 5px;
  border-radius: 7px;
  color: #fff;
  border-style: none;
  background-color: rgb(42, 13, 207);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #fff;
    color: rgb(42, 13, 207);
    border-color: rgb(42, 13, 207);
  }

}


.load-more {
  position: relative;
  top: 60px;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    
    border-style:outset
  }

}

.gallery {
  position: relative;
  top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  margin: -10px 0 0 -10px;
}

.photo-card {
  margin: 10px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: hidden;
}

img {
  display: block;
  width: 360px;
  height: 240px;

  object-fit: cover;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 5px 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}